<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <title>Document</title>
    <script>
      const token = document.querySelector('meta[name="csrf-token"]').getAttribute("content");
      let chapterPages = <%- JSON.stringify(chapterPages) %>;
      let currentPageIndex = 0;

      function renderPage() {
        console.log("rendering the page")
        if (chapterPages.length > 0 && currentPageIndex < chapterPages.length) {
          document.getElementById('pageName').innerText = chapterPages[currentPageIndex].pageName;
          
          document.getElementById('pageContent').innerText = chapterPages[currentPageIndex].pageContent;
          console.log("calling checkComplete")
          checkComplete();
          console.log("updating progress bar");
          updateProgressBar();
        }
      }

      function prevPage() {
        if (currentPageIndex > 0) {
          currentPageIndex--;
          renderPage();
        } else {
          alert("You are on the first page.");
        }
      }

      function nextPage() {
        if (currentPageIndex < chapterPages.length - 1) {
          currentPageIndex++;
          renderPage();
        } else {
          alert("You are on the last page.");
        }
      }

      function checkComplete() {
        const pageId = chapterPages[currentPageIndex].id;

        fetch("/checkComplete", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({
            _csrf: token,
            pageId: pageId,
            userId: '<%= userId %>'
          }),
        })
        .then((res) => res.json())
        .then((data) => {
          const markAsCompleted = document.getElementById("markAsCompleted");
          markAsCompleted.innerText = data.completed ? "Completed" : "Incomplete";
        })
        .catch((err) => console.error(err));
      }

      function updateProgressBar() {
        const progressBar = document.getElementById('progressBar');
        let progress = 0;
        fetch("/checkProgress",{
          method:"POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({
            _csrf: token,
            userId: '<%= userId %>',
            courseId: '<%= courseId %>'
          }),
        }).then((res)=>res.json())
        .then((data)=>{
          if(data.progress){
            progress = data.progress;
            console.log("progress at client side",progress);
            progressBar.style.width = progress + '%';
          }
        })
       
        }

      function markAsCompleted(userId,courseId) {
        const pageId = chapterPages[currentPageIndex].id;

        fetch("/markAsCompleted", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({
            _csrf: token,
            pageId: pageId,
            userId: userId,
            courseId:courseId
          }),
        })
        .then((res) => {
          if (res.status === 200) {
            console.log("entering reload");
            renderPage(); // Reload to fetch the updated status
          }
        })
        .catch((err) => console.error(err));
      }

      window.onload = function() {
        renderPage();
        
      };
    </script>
  </head>

  <body class="bg-gray-100 text-gray-900">
    <%- include('header') %>
    <% if (chapterPages.length === 0) { %>
      <h1 class="text-center text-2xl font-bold mt-8">No pages available. Create one!</h1>
    <% } else { %>
      <div class="container mx-auto p-4 bg-white shadow-md rounded-lg mt-8">
      <div class="w-full bg-gray-200 rounded-full h-4 mb-4">
        <div id="progressBar" class="bg-blue-500 h-4 rounded-full" style="width: 0%;"></div>
      </div>
      </div>
      <div class="container mx-auto p-4 bg-white shadow-md rounded-lg mt-8">
        <h2 id="pageName" class="text-2xl font-semibold mb-4 text-center"></h2>
        <h3 id="pageContent" class="text-lg mb-6 text-center"></h3>
        <div class="flex justify-between">
          <button onclick="prevPage()" class="bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-600 transition duration-200">
            Prev Page
          </button>
          <button
            id="markAsCompleted"
            onClick="markAsCompleted('<%= userId %>','<%= courseId %>')"
            class="bg-green-500 text-white font-bold py-2 px-4 rounded hover:bg-green-600 transition duration-200"
          >
            Mark as Completed
          </button>
          <button onclick="nextPage()" class="bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-600 transition duration-200">
            Next Page
          </button>
        </div>
      </div>
    <% } %>
    <% if (userRole === 'educator' && userCreatedCourseIds.includes(parseInt(courseId))) { %>
      <div class="container mx-auto p-4 bg-white shadow-md rounded-lg mt-8">
        <form action="/create-page" method="get" class="mt-4">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <input type="hidden" name="chapterId" value="<%= chapterId %>" />
          <input type="hidden" name="courseId" value="<%= courseId %>" />
          <input
            type="submit"
            value="Create Page"
            class="bg-green-500 text-white font-bold py-2 px-4 rounded hover:bg-green-600 transition duration-200 text-sm"
          />
        </form>
      </div>
    <% } %>
    <%- include('./footer') %>
  </body>
</html>
