<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100">
    <%- include('../header') %>

    <div class="max-w-2xl mx-auto p-6 bg-white shadow-md rounded-lg mt-10">
      <h1 class="text-2xl font-bold mb-6">New Page</h1>
      <form action="/page" method="post" class="space-y-4">
        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
        <div>
          <h3 class="text-lg font-semibold">What is the name of the page</h3>
          <label for="pageName" class="block text-sm font-medium text-gray-700"
            >Page Name:</label
          >
          <input
            type="text"
            name="pageName"
            id="pageName"
            placeholder="Enter the name of the page"
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          />
        </div>

        <input type="hidden" name="courseId" value="<%= courseId %>" />

        <div>
          <label
            for="chapterSelect"
            class="block text-sm font-medium text-gray-700"
            >Select Chapter:</label
          >
          <select
            name="chapterId"
            id="chapterSelect"
            class="mt-1 block w-full pl-3 pr-10 py-2 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          >
            <% courseChapters.forEach(function(chapter) { %>
            <option value="<%= chapter.id %>">
              <%= chapter.chapterName %>
            </option>
            <% }); %>
          </select>
        </div>

        <div>
          <h3 class="text-lg font-semibold">Content</h3>
          <textarea
            name="pageContent"
            id="pageContent"
            cols="30"
            rows="10"
            placeholder="Enter the content of the page"
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          ></textarea>
        </div>
        <div>
          <input
            type="submit"
            value="Submit"
            class="w-full inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          />
        </div>
      </form>
    </div>
    <%- include('../footer') %>
  </body>
</html>
